<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- CDN VUE JS -->
      <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
</head>
<body>

    <div id="app" class="container">
        <div class="row">
            <div class="col-6 mt-3" v-for="item in itens" :key="item.id">
                <div class="card text-left">
                  <div class="card-body">
                    <h4 class="card-title">{{item.nome}}</h4>
                    <p class="card-text">{{item.descricao}}</p>
                    <p class="text-primary">R${{item.preco.toFixed(2)}}</p>
                    <button @click="addCarrinho(item)" class="btn btn-warning">
                        Adicionar
                    </button>
                  </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <h2>Carrinho:</h2>
                <button @click="limparCarrinho" class="btn btn-sm btn-danger mb-3">
                    Limpar
                </button>
                <ul class="list-group">
                    <li class="list-group-item" v-for="item in carrinho" :key="item.id">
                        {{item.nome}} - 
                        <small class="text-danger">R${{item.preco.toFixed(2)}}</small>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <h2>Valor total:</h2>
                <p class="text-danger ">R${{totalCarrinho}}</p>
                <small v-if="freteGratis">Frete Grátis</small>
            </div>
        </div>
      </div>
    
</body>

<script>
 
const { createApp } = Vue

import data from './listaCompras.json'




createApp({
    data() {
        return {
            itens: [],
            carrinho: []
        }
    },
    created () {
        this.itens = data.itens;
    
    },
    methods:{
        addCarrinho(item){
            this.carrinho.push(item)
        },
        limparCarrinho(){
            this.carrinho = []
        }
    },
    computed: {
        totalCarrinho(){
            var valorTotal = 0
            this.carrinho.forEach(
                item => { valorTotal = valorTotal + item.preco}
            )
          return valorTotal.toFixed(2);
        },
        
        freteGratis() {
            return this.carrinho.length > 3
        }
    }
   
})
.mount('#app')

//ainda nao esta carregando a lista
</script>
</html>